body{
  font-family: helvetica-bold;
}

.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.alto-total{
	height: 100vh;
}

#menu-principal .navbar{
  height: 135px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding-bottom: 155px !important;
  padding-top: 64px;
}

ul.nav{
  padding-top: 32px;
  padding-left: 15px;
}

ul.nav li a{
  color: #cb4e2d !important;
}

ul.nav li a:hover{
  opacity: 0.7;
}

ul.nav li.active a{
  background-color: transparent !important;
  color: black !important;
}

footer .separador{
  border-right: 3px solid #cb4e2d;
  margin: 0px 5px;
}

footer{
  border-top: 1px solid black;
  margin-top: 100px;
  padding-top: 40px;
}

.fila-footer{
  margin-bottom: 22px;
}

footer i{
  font-size: 28px !important;
  background-color: #ccc5ca;
  padding: 10px;
  border-radius: 50%;
  color: white;
  width: 48px;
  height: 48px;
}

footer i.fa-instagram:hover{
  background-color: black;
}

footer i.fa-twitter:hover{
  background-color: #61BCF6;
}

footer i.fa-linkedin:hover{
  background-color: #0077B5;
}

footer i.fa-facebook:hover{
  background-color: #3B5998;
}

.enlaces-footer a{
  padding: 0 7.5px;
  color: #cb4e2d;
}

.enlaces-footer a:hover{
  text-decoration: none;
  opacity: 0.7;
}

.navbar-brand img{
  max-width: 100%;
}

@media (min-width: 992px) and (max-width:1199px){
  .navbar-header{
    width: 180px;
  }
  
  ul.nav{
    padding-top: 30px;
  }
}

@media (min-width: 768px) and (max-width:991px){
  .navbar-header{
    width: 130px;
  }
  
  ul.nav li a{
    font-size: 12px;
    padding: 15px 10px;
  }
  
  ul.nav{
    padding-left: 0;
    padding-top: 35px;
    margin-left: -10px;
    width: 100%;
  }
  
  #menu-principal .navbar{
    padding-bottom: 110px !important;
    padding-top: 5px;
    
  }
  
  footer{
    font-size: 12px;
  }
  
  .navbar-brand{
    width: 150px !important;
    padding-top: 8px;
  }
}

@media (max-width: 767px){
  .textos-footer-movil p{
    margin-bottom: 0;
  }
  
  .textos-footer-movil{
    border-left:  3px solid #cb4e2d;
    padding-left: 15px;
  }
  
  footer{
    font-size: 12px;
    padding-top: 25px;
  }
  
  ul.nav{
    padding-top: 10px;
  }
}

.c2a-encargo-lg{
  position: absolute;
  top: 77px;
  /*left: 1108px*/
  right: -108px;
}

@media (min-width: 1200px) and (max-width: 1359px){
  .c2a-encargo-lg{
    right: -2px;
    top: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .c2a-encargo-md{
    position: absolute;
    left: 685px;
    top: 4px;
  }
  
  .c2a-encargo-md img{
    width: 73%
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .c2a-encargo-md{
    position: absolute;
    left: 516px;
    top: 4px;
    width: 180px;   
  }
  
  .c2a-encargo-md img{
    width: 87%
  }
}

@media (max-width: 767px){
  .c2a-encargo-md{
    position: absolute;
    width: 95px;
    padding-top: 5px;
    right: 0;
    z-index: 10000;
  }
  
  .navbar-brand{
    width: 200px;
  }
  
  #menu-principal .navbar{
   padding-top: 25px;
  }
}

.navbar-toggle{
  background-color: white !important;
}

.titulo{
  padding-top: 10px;
  padding-bottom: 75px;
}

.naranja{
  color: #CB4E2D;
}

.cuerpo i{
  font-size: 28px !important;
  background-color: #ccc5ca;
  padding: 10px;
  border-radius: 50%;
  color: white;
  width: 48px;
  height: 48px;
}

.cuerpo i.fa-linkedin{
  background-color: #0077B5;
}

.texto-principal i{
  margin-top: 30px;
}

@media (max-width: 767px){
  .centrado-movil{
    text-align: center;
  }
  
  .texto-principal i{
    margin-top: 5px;
  }
  
  .titulo{
    padding-bottom: 30px;
  }
  
  footer{
    margin-top: 40px;
  }
  
  .navbar-collapse{
    background-color: #CCC5CA !important;
    z-index: 100000 !important;
    position: relative;
  }
}

#etcetera{
  font-size: 15px;
}

.subtitulo{
  font-size: 22px;
}

#titulo-que-hacemos{
  padding-top: 15px;
}

#etcetera{
  padding-top: 11px;
}

@media (min-width: 1200px){
  #titulo-que-hacemos{
    padding-left: 0;
    transform: translate(-17px, 0px);
  }
}

button.slick-arrow:before{
  color: #CB4E2D;
  opacity: 1;
  font-size: 54px;
}

button.slick-arrow{
  height: 54px;
  width: 42px;
}

button.slick-prev:before{
  font-family: FontAwesome;
  content: "\f053";
}

button.slick-next:before{
  font-family: FontAwesome;
  content: "\f054";
}

@media (min-width: 1265px){
  button.slick-prev{
    transform: translate(-20px, 0px)
  }
  
  button.slick-next{
    transform: translate(20px, 0px);
  }
}

.carrusel-individual{
  margin-top: 15px;
}

.float-left{
  float: left;
}

.texto-que-hacemos-carr1{
  font-size: 30px;
  padding-top: 10px;
}

.texto-que-hacemos-carr1 .logo-etc{
  padding-top: 10px;
}

hr{
  border-color: black;
}

.subtexto-que-hacemos-carr1{
  font-size: 20px;
}

body.que-hacemos footer{
  margin-top: 25px;
}

.reves{
  transform: rotate(180deg);
  padding-right: 3px;
  padding-bottom: 1px;
}

.gris{
	color: #CCC5CA;
}

.listado-que-hacemos-carr2{
	font-size: 20px;
}

.listado-que-hacemos-carr2 p{
  margin-bottom: 0;
}

a{
  color: #CB4E2D;
}

a:hover{
  color: #CB4E2D;
  opacity: 0.7;
  text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1199px){
   #titulo-que-hacemos{
    padding-left: 0;
    transform: translate(-18px, 0px) !important;
  }
  
  .texto-que-hacemos-carr1{
    font-size: 24px;
  }
  
  .texto-que-hacemos-carr1 .logo-etc{
    padding-top: 5px;
  }
  
  .listado-que-hacemos-carr2{
    font-size:16px;
  }
  
  body.que-hacemos footer{
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  #titulo-que-hacemos{
    padding-left: 0;
    transform: translate(-9px, 0px) !important;
  }
  
  .texto-que-hacemos-carr1{
    font-size: 20px;
  }
  
  .texto-que-hacemos-carr1 .logo-etc{
    padding-top: 5px;
  }
  
  .subtitulo{
    font-size: 20px;
  }
  
  #etcetera{
    font-size: 12px;
  }
  
  .subtexto-que-hacemos-carr1{
    font-size: 16px;
  }
  
  .listado-que-hacemos-carr2{
    font-size:12.5px;
  }
}

@media (max-width: 767px){
  #titulo-que-hacemos img{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  #titulo-que-hacemos{
    margin-bottom: 5px;
  }
  
  #etcetera{
    font-size: 14px;
    text-align: justify;
  }
  
  .subtitulo{
    font-size: 16px;
    text-align: center;
  }
  
  .texto-que-hacemos-carr1{
    font-size: 14px;
  }
  
  .texto-que-hacemos-carr1 img{
    margin-bottom: 8px;
  }
  
  .subtexto-que-hacemos-carr1{
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .listado-que-hacemos-carr2{
    font-size: 12px;
    text-align: center;
  }
  
  .listado-que-hacemos-carr2 p{
    margin-bottom: 15px;
  }
}

.mays{
  text-transform: uppercase;
}

.muneco-como{
  margin-bottom: 35px;
}

.imagenes-como{
  margin-bottom: 5px;
}

.como-der .titulo,
.para-der .titulo{
  font-size: 38px;
  padding-bottom: 0;
}

.para-der .titulo{
  margin-bottom: 20px;
}

.como-izq{
  width: 22% 
}

.como-der{
  width: 78%;
}

.punto-como{
  font-size: 20px;
  margin-bottom: 15px;
}

.firma{
  font-size: 12px;
  margin-top: 15px;
}

.como-carr2 p{
  font-size: 24px;
  margin-bottom: 25px;
}

body.como-lo-hacemos footer{
    margin-top: 20px;
}

.cita{
  font-size: 16px;
}

@media (min-width: 992px) and (max-width: 1199px){
  .como-carr2 p{
    font-size: 20px;
  }
  
  body.como-lo-hacemos footer{
    margin-top: 30px;
  }
  
  .cita{
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .como-carr2 p{
    font-size: 16px;
    text-align: justify;
  }
  
  body.como-lo-hacemos footer{
    margin-top: 30px;
  }
  
  .cita{
    font-size: 14px;
  }
}

@media (max-width: 767px){
  .como-der{
    width: 100%;
  }
  
  .como-der .titulo{
    font-size: 28px;
    text-align: center;
  }
  
  .firma{
    margin-bottom: 20px;
  }
  
  .como-carr2 p{
    font-size: 14px;
    text-align: justify;
  }
}

.para-izq{
  width: 22%;
}

.para-der{
  width: 78%;
}

.para-der .cita{
  padding-left: 34%;
}

.para-listado-separador{
  border-bottom: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
}

body.para-quien-lo-hacemos hr{
  margin-bottom: 0;
}

.para-listado-texto h2{
  margin-bottom:15px;
}

.para-listado-texto p{
  font-size: 15px;
}

body.para-quien-lo-hacemos footer{
  margin-top: 50px;
}

.negro{
  color: black;
}

@media (min-width: 992px) and (max-width: 1199px){
  .para-listado-texto p{
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .para-listado-texto p{
    font-size: 12px;
  }
  
  .para-listado h2{
    font-size: 24px;
  }
  
  .para-der .titulo{
    font-size: 30px;
  }
  
  .para-der .cita{
    padding-left: 10%
  }
}

@media (max-width: 767px){
  .para-der{
    width: 100%;
  }
  
  .para-der .titulo{
    text-align: center;
    font-size: 25px;
  }
  
  .para-der .cita{
    padding-left: 0;
  }
  
  .para-listado-texto h2{
    font-size: 21px;
  }
  
  .para-listado-texto p{
    font-size: 14px;
  }
}

.contacto h2{
  font-size: 38px;
  margin-bottom: 32px;
  padding-left: 15px;
}

.contacto-izq img{
  width: 90%
}

.formulario-contacto-campo input,
.formulario-contacto-campo textarea{
  width: 100%;
  border-radius: 0px !important;
  border: 1px solid #8C8685;
  padding: 8px;
}

.formulario-contacto-campo textarea{
  height: 210px;  
}

.formulario-contacto-etiqueta{
  padding-top: 8px;
}

.linea-formulario-contacto{
  margin-bottom: 16px;
}

.boton{
  background-color: #CB4E2D;
  border-color: #CB4E2D !important;
  color: white;
  width: auto !important;
  padding: 10px 50px !important;
  font-family: helvetica-bold;
  font-size: 14px;
}

.boton:hover{
  opacity: 0.7;
}

body.contacto footer{
  margin-top: 0;
}

@media (min-width: 1200px){
  .contacto h2{
    padding-left: 15px;
  }
  
  .contacto-izq,
  .contacto-der,
  .formulario-contacto-campo{
    padding-left: 0
  }
  
  .contacto-der{
    padding-top: 145px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .contacto-der{
    padding-top: 55px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .contacto-izq h2{
    margin-top: 0;
  }
}

@media (max-width: 767px){
  .contacto-izq h2{
    margin-top: 0;
  }
  
  .formulario-contacto-enviar{
    text-align: right;
  }
}

.textos h2{
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 0;
}

strong{
  font-weight: normal;
  color: #A80D09;
}

body.textos footer{
  margin-top: 20px;
}

.textos p{
  font-size: 12px;
}

@media (max-width: 767px){
  .textos h2{
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 1800px){
  body.textos .row > div{
    overflow-y: auto;
    height: 530px;
  }
}

body.encargo input{
  border: none;
  border-bottom: 2px dotted #CB4E2D;
  padding-left: 8px;
}

body.encargo h2,
body.encargo{
  font-size: 18px;
}

span.nombre-campo{
  position: relative;
  top: 10px;
}

.encargo .aclaracion{
  font-size: 18px;
}

.minus{
  text-transform: lowercase;
}

.encargo input[type='checkbox']{
  position: relative;
  top: 13px;
}

.encargo .entre-parentesis{
  padding-left: 20px;
}

.encargo textarea{
  border: 1px solid #8C8685;
  width: 100%;
  height: 175px;
}

body.encargo footer{
  margin-top: 40px;
}

body.encargo .c2a-encargo-md,
body.encargo .c2a-encargo-lg{
  display: none !important;
}

@media (min-width: 1200px){
  .encargo #nombre,
  .encargo #apellidos{
    width: 498px;
  }
  
  .encargo #empresa{
    width: 1075px;
  }
  
  .encargo #direccion{
    width: 520px;
  }
  
  .encargo #localidad{
    width: 450px;
  }
  
  .encargo #telefono{
    width: 200px;
  }
  
  .encargo #email{
    width: 682px;
  }
  
  .encargo #vivienda{
    width: 1050px;
  }
  
  .encargo #local{
    width: 975px;
  }
  
  .encargo #promocion{
    width: 1017px;
  }
  
  .encargo #suelo{
    width: 1070px;
  }
  
  .encargo #otros{
    width: 1065px;
  }
}