body{
  font-family: helvetica-bold;
}

.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.alto-total{
	height: 100vh;
}

#menu-principal .navbar{
  height: 135px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding-bottom: 155px !important;
  padding-top: 64px;
}

ul.nav{
  padding-top: 32px;
  padding-left: 15px;
}

ul.nav li a{
  color: #cb4e2d !important;
}

ul.nav li a:hover{
  opacity: 0.7;
}

ul.nav li.active a{
  background-color: transparent !important;
  color: black !important;
}