#cabecera-admin{
  background: #CB4E2D;
  padding: 10px;
  color: white;
}

#footer-admin{
  background: #CDB49F;
  color: white;
  padding: 10px;
}

#footer-admin p{
  margin: 0;
}

.cuerpo-admin{
  min-height: 87vh;
  padding-top: 40px;
}

table{
  width: 100%;
}

.cuerpo-admin h2{
  margin-bottom: 30px;
}

.titulo-filtros .flex-child{
  width: 50%;
}

.titulo-filtros i,
#capa-cerrar-filtros i{
  font-size: 20px;
}

#capa-cerrar-filtros{
  display: none;
}

#acciones i{
  font-size: 32px;
}

#acciones{
  margin-bottom: 20px;
}

#filtros{
  background: #CBCBCB;
  height: 100%
}

.campos input,
.etiquetas label,
.campos select{
  width: 100%;
  margin-bottom: 10px;
}

.etiquetas label{
 border: 6px solid transparent;
}

.panel{
  border: 1px #CBC3C6 solid;
}

.panel-heading{
  border-bottom: 1px #CBC3C6 solid;
  margin-bottom: 20px;
  background: rgba(203, 195, 198, 0.5);
}

.capa-botones{
  padding: 0;
}

.error-panel{
  background: rgba(255, 0, 0, 0.5);
  color: white;
}

.boton{
  text-transform: capitalize;
}