#cabecera-admin{
  background: #CB4E2D;
  padding: 10px;
  color: white;
}

#footer-admin{
  background: #CDB49F;
  color: white;
  padding: 10px;
}

#footer-admin p{
  margin: 0;
}

.cuerpo-admin{
  min-height: 87vh;
}

table{
  width: 100%;
}

.cuerpo-admin h2{
  margin-bottom: 30px;
}

.titulo-filtros .flex-child{
  width: 50%;
}

.titulo-filtros i,
#capa-cerrar-filtros i{
  font-size: 20px;
}

#capa-cerrar-filtros{
  display: none;
}

#acciones i{
  font-size: 32px;
}

#acciones{
  margin-bottom: 20px;
}

#filtros{
  background: #CBCBCB;
  height: 100%
}

.campos input,
.etiquetas label,
.campos select{
  width: 100%;
  margin-bottom: 10px;
  height: 28px;
  border: 1px solid #CBC3C6;
}

.etiquetas label{
 border: 6px solid transparent;
}

.panel{
  border: 1px #CBC3C6 solid;
}

.panel-heading{
  border-bottom: 1px #CBC3C6 solid;
  margin-bottom: 20px;
  background: rgba(203, 195, 198, 0.5);
}

.capa-botones{
  padding: 0;
}

.error-panel{
  background: rgba(255, 0, 0, 0.5);
  color: white;
}

.boton{
  text-transform: capitalize;
}

#tabla-propiedades{
  padding-top: 15px;
}

.panel{
  margin-top: 30px;
  padding-bottom: 25px
}

table tbody tr:nth-child(even){
  background: #CBC3C6;
}

table thead th{
  text-align: center;
}

table thead{
  background:#CB4E2D;
  color: white;
}

table td, table th{
  border: 3px white solid;
  padding: 2px 5px;
}

table tbody tr:hover{
  background: #CDB49F;
}

table th a{
  color: white;
}

table th a:hover{
  color: white;
  opacity: 0.7;
}

.foto{
  margin-bottom: 20px;
}

#formulario-subir p{
  font-size: 18px;
}

#formulario-subir input[type='submit']{
  margin-top: 15px;
}

#formulario-subir{
  border-top: 1px solid #CBC3C6;
  padding-top: 20px;
}