h2{
  font-size: 46px;
  margin-bottom: 50px;
  
}

#volver{
  float: right;
}

label{
  width: 30%;
  font-weight: normal;
}

input,
textarea{
  width: 69%
}

textarea{
  height: 180px;
}

input{
  height: 40px;
}

input:disabled{
  background-color: white;
}

input,
textarea{
  border: 1px solid #d3c5cb;
  padding: 10px;
}

.grupo-formulario{
  margin-bottom: 20px;
}

#enviar{
  margin-left: 30%;
}

textarea{
  vertical-align: top
}

label[for='comentarios']{
  padding-top: 10px;
}

.error,
.exito{
  border: 1px dotted red;
  background: rgba(255, 0, 0, 0.4);
  color: white;
  padding: 15px;
  margin-bottom: 25px;
}

.exito{
  border-color: green;
  background-color: rgba(0, 255, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
}